{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    /* CSS Styling for Centering the Registration Form */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url("https://i.pinimg.com/originals/b9/01/16/b901168260c3809094a71022b10e6f82.jpg");
    }

    .register-container {
        background-color: #f5f5f5;
        max-width: 400px;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        color: #333;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .form-control {
        width: 90%;
        padding: 14px;
        border: 2px solid #ccc;
        border-radius: 15px;
        font-size: 16px;

    }

    .error-message {
        color: #FF0000;
        font-size: 14px;
        margin-top: 5px;
    }

    .register-btn {
        width: 50%;
        background-color: #008CBA;
        color: #fff;
        border: none;
        padding: 11px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .register-btn:hover {
        background-color: #005f7f;
    }

    .login-link {
        color: #008CBA;
        text-decoration: none;
        font-weight: bold;
    }

    .login-link:hover {
        text-decoration: underline;
    }
</style>

<div class="register-container">
    <h1>Buat Akun</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control">
            {% if form.username.errors %}
                <p class="error-message">{{ form.username.errors }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password1">Password:</label>
            <input type="password" id="password1" name="password1" class="form-control">
            {% if form.password1.errors %}
                <p class="error-message">{{ form.password1.errors }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" name="password2" class="form-control">
            {% if form.password2.errors %}
                <p class="error-message">{{ form.password2.errors }}</p>
            {% endif %}
        </div>
        <button class="register-btn" type="submit">Register</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    Sudah punya akun? <a href="{% url 'main:login' %}" class="login-link">Login Sekarang</a>
</div>
{% endblock content %}
